body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.linkStyle {
  color: #ce2127;
  text-decoration:  none;
  font-size: 20px;
}
.carousel-indicators {
  background-color: transparent;
  color: red;
}

.carousel-indicators .active {
  background-color:red;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  
  background-color: red;
 
  border: 1px solid black;
}